* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dfc6;
  font-family: "inter";
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #213555;
  color: white;
  padding: 1.5rem 5rem;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-container .heading {
  font-size: 1.8rem;
}

.navbar-container .navbar-nav {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar-container .navbar-nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.navbar-container span {
  display: none;
}

.navbar-container .navbar-nav li a:hover {
  text-decoration: underline;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.hero-container img {
  border-radius: 50%;
}

.hero-container h3 {
  font-size: 2.5rem;
}

.hero-container p {
  font-size: 1.3rem;
}

.about-container {
  background-color: white;
  text-align: center;
}

.about-container h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.about-container .about-wrapper {
  display: flex;
  justify-content: center;
}

.about-container .about-wrapper p {
  width: 30rem;
  font-size: 1.3rem;
}

.project-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.project-container .project-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.project-container .project-wrapper .card {
  width: 25rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.project-container .project-wrapper .card p {
  padding: 10px;
}

.project-container .project-wrapper .card img {
  width: 100%;
  height: 15rem;
  object-fit: ;
}

.contact-container {
  background-color: white;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.contact-container form input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-container form textarea {
  resize: none;
  margin-bottom: 1rem;
}

.contact-container form button {
  background-color: #213555;
  color: white;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border: solid 1px #213555;
  border-radius: 10px;
  transition: all;
  transition-duration: 0.3s;
  animation: ease-in-out;
}

.contact-container form button:hover {
  background-color: white;
  color: #213555;
}

footer {
  background-color: #213555;
  color: white;
}

footer p {
  text-align: center;
  padding-bottom: 1rem;
}

footer p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* tablet */
@media (max-width: 768px){
  html{
    font-size: 93%;
  }

  .about-container .about-wrapper {
    padding: 1rem 3rem;
    gap: 1.5rem;
    text-align: justify;
  }

  .contact-container form {
    width: 60%;
  }
}

/* mobile */

@media (max-width: 576px){
  
}
